YANDEX_API_KEY=your_yandex_api_key_here
YANDEX_FOLDER_ID=your_folder_id_here
OPENROUTER_API_KEY=
MISTRAL_MODEL=mistralai/mistral-7b-instruct
EMBED_MODEL=sentence-transformers/all-MiniLM-L6-v2
CHROMA_DIR=.chroma