# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db

# Project specific
salesforecasting/
old/
backup/
*.bak
*.tmp

/backend/lightning_logs/version_11/events.out.tfevents.1772573644.Marat.34756.18
/backend/lightning_logs/version_11/events.out.tfevents.1772573682.Marat.34756.19
/backend/lightning_logs/version_11/hparams.yaml
/backend/lightning_logs/version_12/events.out.tfevents.1772573683.Marat.34756.20
/backend/lightning_logs/version_12/hparams.yaml
/backend/lightning_logs/version_13/events.out.tfevents.1772641798.Marat.4248.0
/backend/lightning_logs/version_13/events.out.tfevents.1772641839.Marat.4248.1
/backend/lightning_logs/version_13/hparams.yaml
/backend/lightning_logs/version_14/events.out.tfevents.1772641843.Marat.4248.2
/backend/lightning_logs/version_14/events.out.tfevents.1772641882.Marat.4248.3
/backend/lightning_logs/version_14/hparams.yaml
/backend/lightning_logs/version_15/events.out.tfevents.1772641886.Marat.4248.4
/backend/lightning_logs/version_15/events.out.tfevents.1772641924.Marat.4248.5
/backend/lightning_logs/version_15/hparams.yaml
/backend/lightning_logs/version_16/events.out.tfevents.1772641928.Marat.4248.6
/backend/lightning_logs/version_16/events.out.tfevents.1772641995.Marat.4248.7
/backend/lightning_logs/version_16/hparams.yaml
/backend/lightning_logs/version_17/events.out.tfevents.1772659206.Marat.41512.0
/backend/lightning_logs/version_17/events.out.tfevents.1772659253.Marat.41512.1
/backend/lightning_logs/version_17/hparams.yaml
/backend/lightning_logs/version_18/events.out.tfevents.1772659255.Marat.41512.2
/backend/lightning_logs/version_18/events.out.tfevents.1772659296.Marat.41512.3
/backend/lightning_logs/version_18/hparams.yaml
/backend/lightning_logs/version_19/events.out.tfevents.1772659299.Marat.41512.4
/backend/lightning_logs/version_19/events.out.tfevents.1772659344.Marat.41512.5
/backend/lightning_logs/version_19/hparams.yaml
/backend/lightning_logs/version_20/events.out.tfevents.1772659345.Marat.41512.6
/backend/lightning_logs/version_20/events.out.tfevents.1772659392.Marat.41512.7
/backend/lightning_logs/version_20/hparams.yaml
/backend/lightning_logs/version_21/events.out.tfevents.1772659400.Marat.41512.8
/backend/lightning_logs/version_21/events.out.tfevents.1772659444.Marat.41512.9
/backend/lightning_logs/version_21/hparams.yaml
/backend/lightning_logs/version_22/events.out.tfevents.1772659445.Marat.41512.10
/backend/lightning_logs/version_22/events.out.tfevents.1772659485.Marat.41512.11
/backend/lightning_logs/version_22/hparams.yaml
/backend/lightning_logs/version_23/events.out.tfevents.1772659490.Marat.41512.12
/backend/lightning_logs/version_23/events.out.tfevents.1772659532.Marat.41512.13
/backend/lightning_logs/version_23/hparams.yaml
/backend/lightning_logs/version_24/events.out.tfevents.1772659533.Marat.41512.14
/backend/lightning_logs/version_24/events.out.tfevents.1772659574.Marat.41512.15
/backend/lightning_logs/version_24/hparams.yaml
/backend/lightning_logs/version_25/events.out.tfevents.1772659578.Marat.41512.16
/backend/lightning_logs/version_25/events.out.tfevents.1772659624.Marat.41512.17
/backend/lightning_logs/version_25/hparams.yaml
/backend/lightning_logs/version_26/events.out.tfevents.1772659625.Marat.41512.18
/backend/lightning_logs/version_26/events.out.tfevents.1772659670.Marat.41512.19
/backend/lightning_logs/version_26/hparams.yaml
/backend/lightning_logs/version_27/events.out.tfevents.1772659677.Marat.41512.20
/backend/lightning_logs/version_27/events.out.tfevents.1772659722.Marat.41512.21
/backend/lightning_logs/version_27/hparams.yaml
/backend/lightning_logs/version_28/events.out.tfevents.1772659723.Marat.41512.22
/backend/lightning_logs/version_28/events.out.tfevents.1772659769.Marat.41512.23
/backend/lightning_logs/version_28/hparams.yaml
/backend/lightning_logs/version_29/events.out.tfevents.1772659770.Marat.41512.24
/backend/lightning_logs/version_29/events.out.tfevents.1772659816.Marat.41512.25
/backend/lightning_logs/version_29/hparams.yaml
/backend/lightning_logs/version_30/events.out.tfevents.1772659817.Marat.41512.26
/backend/lightning_logs/version_30/events.out.tfevents.1772659859.Marat.41512.27
/backend/lightning_logs/version_30/hparams.yaml
/backend/lightning_logs/version_31/events.out.tfevents.1772660094.Marat.3816.0
/backend/lightning_logs/version_31/events.out.tfevents.1772660135.Marat.3816.1
/backend/lightning_logs/version_31/hparams.yaml
/backend/lightning_logs/version_32/events.out.tfevents.1772660136.Marat.3816.2
/backend/lightning_logs/version_32/events.out.tfevents.1772660177.Marat.3816.3
/backend/lightning_logs/version_32/hparams.yaml
/backend/lightning_logs/version_33/events.out.tfevents.1772660187.Marat.3816.4
/backend/lightning_logs/version_33/events.out.tfevents.1772660227.Marat.3816.5
/backend/lightning_logs/version_33/hparams.yaml
/backend/lightning_logs/version_34/events.out.tfevents.1772660228.Marat.3816.6
/backend/lightning_logs/version_34/events.out.tfevents.1772660272.Marat.3816.7
/backend/lightning_logs/version_34/hparams.yaml
/backend/lightning_logs/version_35/events.out.tfevents.1772660273.Marat.3816.8
/backend/lightning_logs/version_35/events.out.tfevents.1772660315.Marat.3816.9
/backend/lightning_logs/version_35/hparams.yaml
/backend/lightning_logs/version_36/events.out.tfevents.1772660316.Marat.3816.10
/backend/lightning_logs/version_36/events.out.tfevents.1772660359.Marat.3816.11
/backend/lightning_logs/version_36/hparams.yaml
/backend/lightning_logs/version_37/events.out.tfevents.1772660370.Marat.3816.12
/backend/lightning_logs/version_37/events.out.tfevents.1772660412.Marat.3816.13
/backend/lightning_logs/version_37/hparams.yaml
/backend/lightning_logs/version_38/events.out.tfevents.1772660413.Marat.3816.14
/backend/lightning_logs/version_38/events.out.tfevents.1772660454.Marat.3816.15
/backend/lightning_logs/version_38/hparams.yaml
/backend/lightning_logs/version_39/events.out.tfevents.1772660455.Marat.3816.16
/backend/lightning_logs/version_39/hparams.yaml
/backend/lightning_logs/version_40/events.out.tfevents.1772660555.Marat.28532.0
/backend/lightning_logs/version_40/events.out.tfevents.1772660592.Marat.28532.1
/backend/lightning_logs/version_40/hparams.yaml
/backend/lightning_logs/version_41/events.out.tfevents.1772660593.Marat.28532.2
/backend/lightning_logs/version_41/events.out.tfevents.1772660632.Marat.28532.3
/backend/lightning_logs/version_41/hparams.yaml
/backend/lightning_logs/version_42/events.out.tfevents.1772660637.Marat.28532.4
/backend/lightning_logs/version_42/events.out.tfevents.1772660681.Marat.28532.5
/backend/lightning_logs/version_42/hparams.yaml
/backend/lightning_logs/version_43/events.out.tfevents.1772660682.Marat.28532.6
/backend/lightning_logs/version_43/events.out.tfevents.1772660726.Marat.28532.7
/backend/lightning_logs/version_43/hparams.yaml
/backend/lightning_logs/version_44/events.out.tfevents.1772660726.Marat.28532.8
/backend/lightning_logs/version_44/events.out.tfevents.1772660768.Marat.28532.9
/backend/lightning_logs/version_44/hparams.yaml
/backend/lightning_logs/version_45/events.out.tfevents.1772660769.Marat.28532.10
/backend/lightning_logs/version_45/events.out.tfevents.1772660809.Marat.28532.11
/backend/lightning_logs/version_45/hparams.yaml
/backend/lightning_logs/version_46/events.out.tfevents.1772660817.Marat.28532.12
/backend/lightning_logs/version_46/events.out.tfevents.1772660862.Marat.28532.13
/backend/lightning_logs/version_46/hparams.yaml
/backend/lightning_logs/version_47/events.out.tfevents.1772660863.Marat.28532.14
/backend/lightning_logs/version_47/events.out.tfevents.1772660902.Marat.28532.15
/backend/lightning_logs/version_47/hparams.yaml
/backend/lightning_logs/version_48/events.out.tfevents.1772660903.Marat.28532.16
/backend/lightning_logs/version_48/events.out.tfevents.1772660943.Marat.28532.17
/backend/lightning_logs/version_48/hparams.yaml
/backend/lightning_logs/version_49/events.out.tfevents.1772660945.Marat.28532.18
/backend/lightning_logs/version_49/events.out.tfevents.1772660983.Marat.28532.19
/backend/lightning_logs/version_49/hparams.yaml
/backend/lightning_logs/version_50/events.out.tfevents.1772660984.Marat.28532.20
/backend/lightning_logs/version_50/events.out.tfevents.1772661023.Marat.28532.21
/backend/lightning_logs/version_50/hparams.yaml
/backend/lightning_logs/version_51/events.out.tfevents.1772661023.Marat.28532.22
/backend/lightning_logs/version_51/hparams.yaml
/backend/lightning_logs/version_52/events.out.tfevents.1772740956.Marat.13104.0
/backend/lightning_logs/version_52/events.out.tfevents.1772740999.Marat.13104.1
/backend/lightning_logs/version_52/hparams.yaml
/backend/lightning_logs/version_53/events.out.tfevents.1772741249.Marat.13104.2
/backend/lightning_logs/version_53/events.out.tfevents.1772741290.Marat.13104.3
/backend/lightning_logs/version_53/hparams.yaml
/backend/lightning_logs/version_54/events.out.tfevents.1772741667.Marat.13104.4
/backend/lightning_logs/version_54/events.out.tfevents.1772741710.Marat.13104.5
/backend/lightning_logs/version_54/hparams.yaml
/backend/lightning_logs/version_55/events.out.tfevents.1772741869.Marat.13104.6
/backend/lightning_logs/version_55/events.out.tfevents.1772741908.Marat.13104.7
/backend/lightning_logs/version_55/hparams.yaml
/backend/lightning_logs/version_56/events.out.tfevents.1772741961.Marat.13104.8
/backend/lightning_logs/version_56/events.out.tfevents.1772742002.Marat.13104.9
/backend/lightning_logs/version_56/hparams.yaml
/backend/lightning_logs/version_57/events.out.tfevents.1772742073.Marat.13104.10
/backend/lightning_logs/version_57/events.out.tfevents.1772742114.Marat.13104.11
/backend/lightning_logs/version_57/hparams.yaml
/backend/lightning_logs/version_58/events.out.tfevents.1772742281.Marat.13104.12
/backend/lightning_logs/version_58/events.out.tfevents.1772742322.Marat.13104.13
/backend/lightning_logs/version_58/hparams.yaml
/backend/lightning_logs/version_59/events.out.tfevents.1772742685.Marat.33220.0
/backend/lightning_logs/version_59/events.out.tfevents.1772742727.Marat.33220.1
/backend/lightning_logs/version_59/hparams.yaml
/backend/lightning_logs/version_60/events.out.tfevents.1772743074.Marat.37716.0
/backend/lightning_logs/version_60/events.out.tfevents.1772743114.Marat.37716.1
/backend/lightning_logs/version_60/hparams.yaml
/backend/lightning_logs/version_61/events.out.tfevents.1772743298.Marat.37716.2
/backend/lightning_logs/version_61/events.out.tfevents.1772743340.Marat.37716.3
/backend/lightning_logs/version_61/hparams.yaml
