fastapi
uvicorn
pandas
numpy
matplotlib
sentence-transformers
requests
streamlit
python-dotenv
neuralprophet
openai
aiogram
lightgbm
python-multipart
plotly
statsmodels
smolagents[litellm]
accelerate
redis
datasets